.searchregex-replaceall {
	margin-top: 50px;
}

.searchregex-replaceall__progress {
	position: relative;
	display: flex;
	align-items: center;
}

.searchregex-replaceall__status {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.searchregex-replaceall__container {
	width: 100%;
}

.searchregex-replaceall__stats {
	text-align: center;
	padding: 10px;

	.wp-core-ui .button-primary {
		margin-top: 20px;
	}
}
