.searchregex-replaceall {
	margin-top: 50px;
}

.searchregex-replaceall__progress {
	position: relative;
}

.searchregex-replaceall__status {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}
