@import "../../global.scss";

.searchregex-result__deleted,
.searchregex-result__replaced,
.searchregex-result__highlight {
	background-color: $yellow;
	font-weight: bold;
	cursor: pointer;
	display: inline;
	padding: 3px;
}

.searchregex-result__replaced {
	background-color: $deep-orange;
}

.searchregex-result__deleted {
	background-color: $bright-red;
	font-weight: normal;
	color: $white;
	text-decoration: line-through;
}

.searchregex-match {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	line-height: 2;

	.searchregex-match__column {
		margin-right: 10px;
		background-color: #ddd;
		padding: 0 5px;
		border-radius: 3px;
		margin-bottom: 5px;
		font-weight: bold;
		display: flex;
		align-items: center;
	}

	.searchregex-match__column__type {
		display: inline-block;
		border-left: 2px solid #999;
		padding-left: 5px;
		margin-left: 5px;
		font-size: 10px;
	}

	span:not(.searchregex-result__highlight),
	.wpl-badge {
		margin-right: 5px;
	}
}
