@use "../../global" as *;

.searchregex-result {
	.searchregex-result__replaced,
	.searchregex-result__highlight,
	.searchregex-result__deleted {
		background: none;
		border: none;
		padding: 3px;
		margin: 0;
		cursor: pointer;
		font: inherit;
		display: inline;
		background-color: $yellow;
		font-weight: bold;
	}

	.searchregex-result__replaced:focus,
	.searchregex-result__highlight:focus,
	.searchregex-result__deleted:focus {
		outline: 1px dotted;
		outline: 5px auto -webkit-focus-ring-color;
	}

	.searchregex-result__replaced {
		background-color: $deep-orange;
	}

	.searchregex-result__deleted {
		background-color: $bright-red;
		font-weight: normal;
		color: $white;
		text-decoration: line-through;
	}
}

.searchregex-match {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	line-height: 2;

	.searchregex-match__column {
		margin-right: 10px;
		background-color: #ddd;
		padding: 0 5px;
		border-radius: 3px;
		margin-bottom: 5px;
		font-weight: bold;
		display: flex;
		align-items: center;
	}

	.searchregex-match__column__type {
		display: inline-block;
		border-left: 2px solid #999;
		padding-left: 5px;
		margin-left: 5px;
		font-size: 10px;
	}

	span:not(.searchregex-result__highlight),
	.wpl-badge {
		margin-right: 5px;
	}
}
