.searchregex-replace__modal .wpl-table {
	width: 100%;

	.searchregex-preset__tag th {
		vertical-align: inherit;
		text-align: left;
	}
}

.searchregex-replace__input {
	display: flex;
	width: 100%;
	align-items: flex-start;

	input[type="text"] {
		width: 100%;
	}

	select {
		margin-left: 5px;
	}

	textarea {
		width: 100%;
		margin-left: 1px;
		margin-right: 1px;
		padding: 4px 8px;
	}
}

.wpl-popover__content .searchregex-replace__action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-left: 10px;

	p {
		color: #999;
		margin: 0;
	}
}

.searchregex-replace__modal {
	padding: 13px 10px;
	width: 450px;
	font-weight: normal;

	input[type="text"] {
		width: 75%;
	}

	select {
		width: 25%;
	}

	p.searchregex-replace__actions {
		text-align: right;
		margin-bottom: 0;

		input {
			margin-left: 10px;
		}
	}

	textarea {
		width: 75%;
	}
}
