.searchregex-result__table {
	width: 100px;
}

.searchregex-result__row {
	width: 75px;
}

.searchregex-result__matches {
	width: 70px;
}

.searchregex-result__column {
	width: 100px;
}

.searchregex-result__action {
	width: 50px;
}
