.searchregex-result__replaced,
.searchregex-result__highlight {
	background-color: #f7d85d;
	font-weight: bold;
	padding: 1px;
	cursor: pointer;
}

.searchregex-result__replaced {
	background-color: #f38830;
	display: inline;
}

.searchregex-result__deleted {
	background-color: #e53e3e;
	color: white;
}

.searchregex-match {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	line-height: 2;

	.searchregex-match__column {
		margin-right: 10px;
		background-color: #ddd;
		padding: 0 5px;
		border-radius: 3px;
		margin-bottom: 5px;
	}
}
