@import "../../global.scss";

.searchregex-replace__modal .wpl-table {
	width: 100%;

	.searchregex-preset__tag th {
		vertical-align: inherit;
		text-align: left;
	}
}

.wpl-popover__content .searchregex-replace__action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-left: 8px;

	p {
		margin: 0;
	}
}

.searchregex-replace__modal {
	padding: 13px;
	width: 550px;
	font-weight: normal;

	.searchregex-replace__action {
		justify-content: flex-end;
		margin-bottom: 0;

		input {
			margin-left: 10px;
		}
	}

	h5 {
		font-size: 14px;
		font-weight: bold;
		margin: 0;
		margin-bottom: 7px;
	}

	.wpl-badge:first-of-type {
		margin-left: 0;
	}

	textarea {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
	}

	.searchregex-modify {
		.wpl-badge {
			margin-bottom: 5px;
		}
	}

	input[type="text"] {
		width: 100%;
		margin-left: 0;
	}

	.wpl-dropdowntext__suggestion {
		flex-wrap: wrap;

		input[type="text"] {
			margin-left: 0;
		}
	}

	.searchregex-list__encoded {
		display: flex;
		justify-content: flex-end;
		margin-top: -10px;
		margin-bottom: 10px !important;
		color: $red;
	}
}
