/**
 * The Github link on the support page
 */

.github {
	margin-top: 8px;

	a {
		text-decoration: none;
	}

	img {
		padding-right: 10px;
		margin-bottom: -10px;
	}
}

.searchregex-help {
	ul {
		list-style: disc;
		margin-left: 20px;
	}
}
