.searchregex-editor {
	padding: 5px;

	textarea {
		width: 100%;
		min-height: 150px;
		margin-bottom: 10px;
	}

	h2 {
		margin-top: 0;
	}

	.searchregex-editor__actions {
		display: flex;
		justify-content: space-between;
	}

	button.button-primary {
		margin-right: 10px;
	}

	.wpl-spinner__item {
		margin-left: -50px;
		height: 24px;
		width: 24px;
		margin-top: 12px;
	}
}
